:root {
  --Dark-Gray: hsl(0, 0%, 46%);
  --Black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --Very-Dark-Gray: hsl(0, 0%, 27%);
  --opacity: 1;
  --brightness: brightness(0.6);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 60px 0;
}

.main {
  max-width: 1600px;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(5, max-content) / 1fr;
  grid-template-areas:
    "main"
    "shop"
    "image1"
    "about"
    "image2";
}

.main_hero {
  min-height: 400px;
  position: relative;
  grid-area: main;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.backgrounds-mobile {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease;
}

.backgrounds-desktop {
  display: none;
}

.background-img {
  width: 100%;
  aspect-ratio: 3/1;
}

.main_nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* STYLE FOR MENU HAMBURGUER*/

main.open_menu {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
}

.nav_links.open_links main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
}

/* main.open_menu .main_hero .main_logo,
main.open_menu .main_hero .main_nav .nav_hamburguer {
  display: none;
} */

@keyframes MenuAnimation {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    display: none;
    opacity: 0;
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    opacity: 1;
  }
}

.nav_links {
  display: none;
}

.nav_links.open_links {
  display: flex;
}

ul {
  padding: 0;
}

.nav_links.open_links .main_links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 130px;
  background-color: white;
  position: absolute;
  top: 0;
  border-radius: 0 0 8px 8px;
  animation: MenuAnimation 0.6s normal ease forwards;
}

.nav_links.open_links .main_link {
  text-decoration: none;
  color: var(--Black);
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
}

.nav_links.open_links .icon_close {
  display: block;
  margin-right: 3rem;
}

/* .nav_links.close_links {
  animation: MenuAnimation 0.6s reverse ease forwards;
} */

/* main.close_menu .main_hero .main_nav {
  animation: MenuAnimation 1s forwards reverse;
} */

/* main.open_menu .main_hero .main_nav .main_links {
  width: 100%;
  display: flex;
} */

.main_list {
  padding-left: 1.4rem;
}

main.open_menu .main_hero .background-container .backgrounds img {
  opacity: var(--opacity);
  filter: var(--brightness);
}

main.open_menu .main_bg_second {
  opacity: var(--opacity);
  filter: var(--brightness);
}

main.open_menu .main_controls {
  filter: brightness(0.2);
  cursor: none;
}

/* END MENU BURGUER STYLE*/

.nav_hamburguer {
  margin-left: 30px;
}

.main_links {
  display: none;
}

.main_links.open_links {
  display: flex;
  position: relative;
  width: 100%;
  height: 100px;
  background-color: white;
  top: 0;
  left: 0;
}

.main_link {
  padding-bottom: 0.4em;
  position: relative;
}

.main_list > .main_link::before {
  content: "";
  width: 100%;
  background-color: var(--White);
  height: 2px;
  position: absolute;
  bottom: -2px;
  left: 0;
  border-radius: 10px;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.main_link:hover::before {
  transform: scaleX(1);
}

.main_logo {
  margin: 0 auto;
  transition: all 0.8s ease;
}

.main_logo:hover {
  transform: scale(1.3);
}

.main_controls {
  background-color: var(--Black);
  width: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-area: main;
  place-self: end;
  z-index: 2;
}

.main_controls_left,
.main_controls_right {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_controls_left:hover,
.main_controls_right:hover {
  background-color: var(--Very-Dark-Gray);
  cursor: pointer;
}

.main_arrows {
  height: 40%;
}

.main_shop {
  grid-area: shop;
}

.main_content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main_title {
  color: var(--Black);
  font-size: 2rem;
}

.title_about {
  text-transform: uppercase;
}

.main_paragraph {
  line-height: 1.5;
  margin: 1em 0 2em;
  color: var(--Dark-Gray);
}

.main_cta {
  text-decoration: none;
  color: var(--Very-Dark-Gray);
  text-transform: uppercase;
  letter-spacing: 9px;
}

.main_cta:hover {
  color: var(--Dark-Gray);
}

.main_arrow {
  margin-left: 20px;
}

.main_bg {
  grid-area: image1;
  height: 100%;
  min-height: 250px;
  background-image: url(images/image-about-dark.jpg);
  background-position: center;
  background-size: cover;
}

.main_about {
  grid-area: about;
}
.main_bg_second {
  grid-area: image2;
  background-image: url(images/image-about-light.jpg);
}

.main_paragraph--about {
  margin: 1em 0 0 0;
}

.icon_close {
  display: none;
}

/* BREAK-POINT 320px */

@media (min-width: 320px) {
}

/* BREAK-POINT 768PX */
@media (min-width: 768px) {
  .main {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-template-areas:
      "main main main main main main shop shop shop shop"
      "main main main main main main shop shop shop shop"
      "image1 image1 image1 about about about about image2 image2 image2 ";
  }

  .container {
    width: 85%;
  }

  .main_shop {
    padding: 0;
  }

  .main_content_discover {
    padding: 0 1rem;
  }

  .main_content_about {
    padding: 0.5rem 2rem;
  }

  .main_about {
    padding: 0;
    height: 100%;
    width: 100%;
    margin-top: 1.7rem;
  }

  .main_controls {
    grid-area: shop;
    justify-self: start;
  }

  .nav_hamburguer {
    display: none;
  }

  .main_logo {
    margin: 0;
  }

  .main_links {
    display: flex;
    gap: 0;
    padding: 0;
  }

  .main_list {
    list-style: none;
  }

  .main_link {
    text-decoration: none;
    color: var(--White);
    font-family: "League Spartan", sans-serif;
    font-size: 0.9rem;
  }

  .main_title {
    font-size: 1.5rem;
  }

  .title_about {
    font-size: 1rem;
  }

  .main_paragraph {
    font-size: 0.8rem;
  }

  .main_cta {
    font-size: 0.9rem;
  }

  .main_controls {
    width: 90px;
    height: 45px;
  }

  .main_controls_left,
  .main_controls_right {
    width: 100%;
    height: 100%;
  }

  .bg_first {
    background-position: right;
  }
}

/* BREAK-POINT 1024PX */

@media (min-width: 1024px) {
  .main {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(3, 230px);
    grid-template-areas:
      "main main main main main main shop shop shop shop"
      "main main main main main main shop shop shop shop"
      "image1 image1 image1 about about about about image2 image2 image2 ";
  }

  .main_shop {
    padding: 30px 35px 60px;
  }

  .main_about {
    padding: 0;
    margin-top: 1rem;
  }

  .title_about {
    letter-spacing: 0.3rem;
  }

  .main_content_about {
    height: 100%;
    justify-content: space-evenly;
  }

  .main_paragraph--about {
    margin-top: 0;
  }

  .main_controls_left,
  .main_controls_right {
    width: 100%;
    height: 100%;
  }
}

/* BREAK-POINT 1440PX */

@media (min-width: 1440px) {
  .main {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(auto-fit, minMax(250px, 1fr));
    grid-template-areas:
      "main main main main main main shop shop shop shop"
      "main main main main main main shop shop shop shop"
      "image1 image1 image1 about about about about image2 image2 image2 ";
  }

  .main_nav {
    justify-content: flex-start;
  }

  .main_logo {
    width: 70px;
    margin-right: 1rem;
  }

  .main_link {
    font-size: 1.1rem;
  }

  .backgrounds-mobile {
    display: none;
  }

  .backgrounds-desktop {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease;
  }

  .title_discover {
    font-size: 2.8rem;
    padding-right: 20px;
  }

  .title_about {
    text-transform: uppercase;
    letter-spacing: 8px;
    font-size: 1.2rem;
    font-weight: 700;
  }

  .main_content_discover {
    padding: 0 35px 60px 40px;
  }

  .main_paragraph {
    font-size: 1rem;
  }

  .main_cta {
    font-size: 1rem;
    font-weight: 700;
  }

  .main_controls {
    width: 145px;
    height: 85px;
  }

  .main_controls_left,
  .main_controls_right {
    width: 100%;
    height: 100%;
  }

  .main_arrows {
    height: 30%;
  }
}
